<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<body>
 <div class="header" style="background-color: #4bffc8">
   <div class="container-fluid">
       <div class="row part1">
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1">
            <div class="section1-img">
            <img src="assets/logo.png" class="logo1">
          </div>
          </div>
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1 ">
            <div class="section1-but" style="margin-top:7% ; ">
            <button class="section1-button">Login</button>
          </div>
          </div>
       </div>

       <div class="row part2">
         <div  class="col-xs-12 ">
            <h1 class="part2-head">
              A community designed to help underrepresented startup founders succeed.
             </h1>
            
             <h2 class="part2-p"> Insights. Relationships. Capital.</h2>
             
         </div>
            <div class="col-xs-12">
              <button  (click)="signup()" class="section1-bottom-button">Join the Waiting List
              </button>
            </div>
          </div>
       
          
     </div>
  </div>

   <section>
     <div class="container-fluid sec-2">
       <div class="sec2-first">
        <div class="row ">
         <div class="col-sm-12 col-md-12">
               <h1 class="sec2-h">Learn from notable founders, investors, and experts.</h1>
               <br><br>
               <h2 class="sec2-p">Watch world-class business and tech leaders share advice on various topics.</h2>
         </div>
         
        </div>
       </div>
       <div class="row">
         <div class="col-xs-1 col-sm-6 col-md-3 section2-resp-img" >
           <div class="section2-img">
              <img class="img-sec2" src="assets/sec2-4.png ">
         </div>
         </div>
       
         <div class="col-xs-3 col-sm-6 col-md-3 section2-resp-img">
            <div class="section2-img">
             <img class="img-sec2" src="assets/sec2-3.png">
         </div>
        </div>
       
         <div class="col-xs-3 col-sm-6 col-md-3 section2-resp-img">
            <div class="section2-img">
             <img  class="img-sec2" src="assets/sec2-1.png">
         </div>
        </div>
       
         <div class="col-xs-3 col-sm-6 col-md-3 section2-resp-img">
            <div class="section2-img">
              <img class="img-sec2" src="assets/sec2-2.png">
         </div>
       </div>
       </div>
     </div>
    </section>  

    <section id="section-3rd">
      <div class="container-fluid">
        <div class="section-3">
        <div class="row section-3-part1">
            <div class="col-sm-12 col-md-12">
                 <h1 class="sec2-h"> Connect and grow with founders like you.</h1><br><br>
                 <h2 class="sec2-p"> Building and growing a startup is hard. If you don't check a certain box or fit a specific pattern, you're at a disadvantage. Our community helps founders connect, share knowledge, and support each other's growth.</h2>
            </div>
        </div>

        <div class="row">
           <div class="col-sm-12 col-md-12">
              <img src="assets/sec3.png" class="img-sec3">
           </div>
        </div>
        </div>   
      </div>
    </section> 

    <section id="section-4th">
         <div class="container-fluid">
            <div class="section-4">
               <div class="row section-3-part1">
                 <div class="col-xs-12 col-md-12">
                   <h1 class="sec4-h1">Featured community stories.</h1><br><br>
                   <h2 class="sec4-p1">Gain perspective through the experiences of other founders. Explore content full of actionable insights to help you overcome the struggles enterpreneurs face and grow your business.</h2>
    
                 </div>
               </div>

              <div class="row ">
                
                 <div class="col-xs-12 col-md-4 sec4-pic-pad">
                         
                         
                             <div class=" sec4-all">
                                    <div class="product-img">
                                       <img class="wooble"  src="assets/sec4-1.png"> 
                                       <br>
                                   
                                        <div class="stats-container posRelative"> 
                                           <div class="product_name">
                                             <h1 class="section4-heading">
                                               <br>
                                                Yves Louis-Jacques
                                             </h1>
                                             <br>
                                               <h2 class="section4-para">
 The Door's founder shares his vision to build a community to help underrepresented founders succeed.
                                               </h2>
                                             </div>   
                                              
                                            </div> 
                                </div> 
                 </div></div>
                         
                  <div class="col-xs-12 col-md-4 sec4-pic-pad">
                              <div class=" sec4-all">
                                    <div class="product-img">
                                       <img class="wooble" src="assets/sec4-2.png"> 
                                   
                                        <div class="stats-container posRelative"> 
                                           <div class="product_name">
                                             <h1 class="section4-heading">
                                               <br>
                                                Rachel Cook
                                             </h1>
                                             <br>
                                               <h2 class="section4-para">
                                                  ICOs are fire! Here's story about a founder opening up token sales for a product that lets you embed social good in your apps.
                                               </h2>
                                             </div>   
                                              
                                            </div> 
                                </div></div>   </div>          
                    
                            
                   <div class="col-xs-12 col-md-4 sec4-pic-pad ">
                        <div class=" sec4-all">
                                    <div class="product-img ">
                                       <img class="wooble"  src="assets/sec4-3.png"> 
                                   
                                        <div class="stats-container posRelative"> 
                                           <div class="product_name">
                                             <h1 class="section4-heading">
                                               <br>
                                                Aniyia Williams
                                             </h1>
                                             <br>
                                               <h2 class="section4-para">
                                                  Learn more about how Tinsel's founder is working to fix the Tech industry's toxic values with the Zebra movement.
                                               </h2>
                                             </div>   
                                              
                                            </div> 
                                </div>           </div></div>

              </div> 
            </div>
        </div>
    </section>
         
    <section id="section-5">
       <div class="container-fluid ">
          <div class="sec-5">
         <div class="row">
           <div class="col-sm-12 col-sm-6 col-md-12 sec5-1">
               <h1 class="section5-head">
                 Ready to join this unique community?
               </h1><br><br>

             </div>
           </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <button class="section5-bottom-button" >Join the Waiting List
               </button>
              </div>
              <div class="col-xs-12  col-sm-6 col-md-6">
                <h2 class="section5-para">Have questions? Read the<a href="#" style="text-decoration: underline;color: #183466"> <span>FAQs.</span></a></h2>
              </div>
            </div>
           </div>
       </div>
    </section>

    <section id="section-6" style="background-color:white">
      <div class="container-fluid">
        <div class="sec-6">
          <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-2">
              <img src="assets/logo.png"  class="logo5" alt="logo">
          </div>
             <div class="col-sm-6 col-md-6">
             <div class="terms-1">
              <span class="text-white font-16"><a href="https://thedoor.co/about" class="terms-cond" target="_blank">&nbsp &nbsp About</a> &nbsp;  &nbsp;&nbsp &nbsp</span>
              <span class="text-white font-16"><a href="https://thedoor.co/terms_condition" class="terms-cond" target="_blank">&nbsp &nbsp Terms of Service</a>&nbsp &nbsp &nbsp;  &nbsp; </span>
              <span class="text-white font-16"><a href="https://thedoor.co/privacy_policy" class="terms-cond" target="_blank">&nbsp &nbsp Privacy</a></span>
            </div>
          </div>

       
         <div class="col-sm-6 col-md-4" style="padding-right: 0px">
            <div class="social-icons">
                <div class="social-circle social-fb"><a href="https://www.facebook.com/enterthedoor" target="_blank" class="cell"><img alt=""class="social-img" src="assets/footer_social_facebook.png"></a></div>
                <div class="social-circle social-twit"><a href="https://twitter.com/enterthedoor" target="_blank" class="cell"><img alt="" class="social-img" src="assets/footer_social_twitter.png"></a></div>
               <div class="social-circle social-insta"><a href="https://www.instagram.com/thedooropens/" target="_blank" class="cell"><img alt="" class="social-img" src="assets/footer_social_instagram.png"></a></div>
               <div class="social-circle social-linkedin"><a href="https://www.linkedin.com/company/thedoortechnologies/" target="_blank" class="cell"><img alt="" class="social-img" src="assets/footer_social_linkedin.png"></a></div>
              </div>
          </div>
           </div>
  <div class="footer-2">
       <div class="row">
       
          <div class="col-sm-12 col-md-6">
             <p class="section6-para">© 2017 The Door Technologies. All rights reserved.</p>
          </div>

            <div class="col-sm-12 col-md-6"> 
              <p class="section6-para1">A Backstage Capital company.<span ><img src="assets/backstage_capital_logo.png" class="bucket-img"></span></p>
             </div> 
       </div>
       </div>
       </div>
      </div> 
    
    </section>
</body>
</html>