
h1{
  font-family: 'Rubik', sans-serif;

}
h2{
     font-family: 'Open Sans', sans-serif;
}


  .logo1{
  width: 14%;
}
@media  only screen and (max-width: 768px) {
 .logo1{
  width: 40%;
}
}
.part1{
  padding-right: 20px;
  padding-left: 30px;
  padding-top: 50px;
}
@media  only screen and (max-width: 768px) {
    .part1{
    padding-right: 0px;
  padding-left: 0px;
  padding-top: 40px;
    }
}

  .part2{
    padding-bottom: 240px;
    padding-left: 18%;
    padding-top: 160px;
    padding-right:15%;
  }
 @media  only screen and (max-width: 768px) {
    .part2 {
      padding-bottom: 130px;
    padding-left: 15px;
    padding-top: 80px;
    padding-right: 10px;
    }
}

@media  only screen and (max-width: 768px) {
    .top-1 {
   width: 50%;
    }
}



  .sec-2{
     padding-bottom: 150px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
  }
 @media  only screen and (max-width: 768px) {
    .sec-2 {
      padding-bottom: 115px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 10px;
    }
}

  
  .part2-head{
    font-weight: 900;
    color: #183466;
    letter-spacing: 2px;
    line-height: 160%;
     font-size: 45px;
     
  }
  @media  only screen and (max-width: 768px) {
    .part2-head {
      font-size: 30px;
       letter-spacing: 1px;
       margin-bottom: 0px;
    }
}
  .part2-p{
    font-family: 'Open Sans', sans-serif;
    color: #183466;
     letter-spacing: 1px;
     margin-top: 80px;
     margin-bottom: 80px;
  }
  @media  only screen and (max-width: 768px) {
    .part2-p {
       margin-top: 40px;
     margin-bottom: 50px;
     font-size: 1.5rem;
    }
}
.section1-bottom-button{
   font-family: 'Open Sans', sans-serif;
 text-align: center;
 width: 300px;
 height:50px ;
 
 font-size: 20px;
 border:none  ;
 border-radius:7px ;
 background-color:#183466;
 color: #ffffff;
 letter-spacing: 1px;
 font-weight: 900;
}
@media  only screen and (max-width: 768px) {
    .section1-bottom-button {
     width:230px;
     font-size: 15px;
     height: 100%;
     margin-bottom: 4%;
     margin-top: 4%;
    }
}

  .sec2-p{
    font-size: 1.5rem;
    color: #183466;
    font-weight: 500;
    letter-spacing: 1px;
      line-height: 180%;
  }

   @media  only screen and (max-width: 768px) {
    .sec2-p {
     font-size: 1.2rem;       line-height: 180%;
    }
}
  .sec2-h{
    
     font-weight: 900;
     color: #183466;
      letter-spacing: 2px;
      line-height: 150%;

  }
   @media  only screen and (max-width: 768px) {
    .sec2-h {
     
      font-size: 26px; 
      letter-spacing: 1px;
      margin-bottom: 0px;
    }
}
.sec2-first{
    padding-bottom: 100px;
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 150px;
}
  .section2-img{
     box-shadow:          0 0 20px #bcbcbc;
  }

@media  only screen and (max-width: 768px) {
    .sec2-first {
      padding-bottom: 70px;
    padding-left: 0px;
    padding-top: 100px;
    padding-right: 0px;
    }
}

@media  only screen and (max-width: 768px) {
    .section2-resp-img {
   width:48%;
   padding-top: 20px;
   padding-right: 0px;
    }
}

#section-3rd{
    background-color: #f6f6f6;
      height: 100%;
      
      top: 0;
      left: 0;
      width: 100%;
}

.section-3{
     padding-bottom: 150px;
    padding-left: 50px;
    padding-top: 150px;
    padding-right: 50px;
}
 @media  only screen and (max-width: 768px) {
    .section-3 {
      padding-bottom: 130px;
    padding-left: 0px;
    padding-top: 15px;
    padding-right: 0px;
    }
}

.section-3-part1{
    padding-bottom: 100px;
    padding-left: 140px;
    padding-top: 0px;
    padding-right: 140px;
}
@media  only screen and (max-width: 768px) {
    .section-3-part1 {
      padding-bottom: 70px;
    padding-left: 0px;
    padding-top: 100px;
    padding-right: 0px;
    }
}
.img-sec3{
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media  only screen and (max-width: 768px) {
    .img-sec3 {
      height: 100%;
    }
}

.section-4{
     padding-bottom: 130px;
    padding-left: 25px;
    padding-top: 150px;
    padding-right: 25px;
}
@media  only screen and (max-width: 768px) {
    .section-4 {
      padding-bottom: 80px;
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
    }
}
.sec4-h1{
  letter-spacing: 2px;
   
     font-size: 45px;
     font-weight: 900;color: #183466;
  }

  @media  only screen and (max-width: 768px) {
    .sec4-h1 {
   
     font-weight: 900;
     font-size: 26px;
     margin-bottom: 0px;
    }
}

.section4-heading{
  color: #183466;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  
}
@media  only screen and (max-width: 768px) {
    .section4-heading {
    
     font-weight: 900;
     font-size: 1.3rem;
     margin-bottom: 0px;
     margin-top: 10px;
    }
}

.sec4-p1{
    font-size: 1.5rem;
    color: #183466;
    font-weight: 500;
     letter-spacing: 1px;
     line-height: 150%;
  }
@media  only screen and (max-width: 768px) {
    .sec4-p1  {
  
       font-size: 1.2rem;
    }
}
.section4-para{
  color: #183466;
 font-size: 1.2rem;
 letter-spacing: 1px;
   line-height: 150%;
  font-weight: 500;
  
  
}
@media  only screen and (max-width: 768px) {
    .section4-para  {
    font-size: 1rem;

     
    }
}


.product_name{
  padding-left: 5%;
  padding-bottom:5%;
  padding-right: 5%;

}
.sec4-all{
  
   box-shadow:        0 0 20px #bcbcbc;
   border-radius: 7px;
}
.product-img{
  width: 100%;
}



  .sec4-pic-pad{
    padding-right: 25px;
  padding-left: 25px;
  
 }
 @media  only screen and (max-width: 768px) {
    .sec4-pic-pad  {
     padding-top: 0px;
      padding-right: 60px;
      padding-left: 60px;
      padding-bottom: 30px;
      
     
    }
}
.wooble{
 border-top-left-radius:7px;
  border-top-right-radius:7px;
   height: 200px;
   width: 100%; 
}
@media  only screen and (max-width: 768px) {
    .wooble {
      height: 150px;
    }
}
#section-5{
   padding-bottom: 130px;
    padding-left: 200px;
    padding-top: 150px;
    padding-right: 170px;
    background-color: #4bffc8;
}
@media  only screen and (max-width: 768px) {
    #section-5 {
      padding-bottom: 40px;
    padding-left: 0px;
    padding-top: 115px;
    padding-right: 0px;
    }
}

.section5-bottom-button{
   font-family: 'Open Sans', sans-serif;
 text-align: center;
 width: 300px;
 height:50px ;
 font-weight: 900;
 font-size: 20px;
 border:none  ;
 border-radius:7px ;
 background-color:#183466;
 color: #ffffff;
 letter-spacing: 1px;
}
@media  only screen and (max-width: 768px) {
    .section5-bottom-button {
      width:240px;
     font-size: 15px;
     height: 80%;
     margin-bottom: 4%;
     margin-top: 4%;
    }
}

.section5-head{
   
    font-weight: 900;
    color: #183466;
   
    float: left;
    letter-spacing: 2px;
    line-height: 150%;
     font-size: 47px;
     width: 100%;
  }

  @media  only screen and (max-width: 768px) {
    .section5-head {
     font-size: 30px;
       letter-spacing: 1px;
        line-height: 160%;
        margin-bottom: 0px;
    }
}
  .sec5-1{
    margin-bottom: 70px;
  }

  .section5-para{
  color: #183466;
  font-size: 20px;
  font-weight: 530;
  margin-bottom: 0px;
  margin-top: 10px;
  float: right;
}


 @media  only screen and (max-width: 768px) {
    .section5-para {
     margin-bottom: 80px;
  margin-top: 80px;
  float: none;
  font-size: 1.2rem;
    }
}
.social-icons .social-circle {
    text-align: center;
 
    display: inline-block;
     margin-top: 4%;
     margin-left: 3%;
    width: 20%;
}
 @media  only screen and (max-width: 768px) {
   .social-icons .social-circle {
    
     margin-top: 10%;

  
}
}
.terms-1{
   text-align: center;
    float: none;
     display: inline-block;
   margin-top: 4%;
    width: 100%;
}
.section1-button{
   float:right;
   border-radius:25px;
   border: 2px solid #183466;
   background: transparent;
   width: 20%;
   height: 30px;
   color: #183466;
}
@media  only screen and (max-width: 768px) {
    .section1-button {
     width: 55%;
      height: 30px;
      vertical-align:middle;
    }
}





.img-sec2{
  width: 100%;
}
#section-6{
   padding-bottom: 0px;
    padding-left: 200px;
    padding-top: 50px;
   padding-right: 170px;
    
    
}
  
@media  only screen and (max-width: 768px) {
    #section-6 {
      padding-bottom: 40px;
    padding-left: 0px;
    padding-top: 50px;
    padding-right: 0px;
    }
}

.footer-2{
     padding-bottom: 50px;
  
    padding-top: 70px;
  
}
.terms-cond{
   color: #183466;
  font-size: 18px;
  font-weight: 540;
  margin-top: 5px;
  margin-bottom: 0px;
  text-decoration-line: none;
}
a:hover{
 
  text-decoration: none;
}

  .section6-para{
  color: #183466;
  font-size: 16px;
  font-weight: 540;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration-line: none;
}

@media  only screen and (max-width: 768px) {
    .section6-para {
   
  font-size: 1rem;
  text-align: center;
  padding-bottom: 50px;
    }
}
.section6-para1{
  color: #183466;
  font-size: 16px;
  font-weight: 540;
  float: right;
 
}
.margin-bottom-20{
  display: inline-block;
}
.logo5{
  width: 65%;
}

@media  only screen and (max-width: 768px) {
   .logo5{
  width: 18%;
  padding-bottom: 20px;
}
}
.social-img{
  width: 60%;
  height: 100%;
}
.bucket-img
{
width: 35%;
float: right;
}